<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.home.lavia">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MEDIA_CONTENT_CONTROL"
        tools:ignore="ProtectedPermissions" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/lavia_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".first_page"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Home"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Cart"
            android:label="@string/title_activity_cart"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Vodka"
            android:label="@string/title_activity_vodka"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Whiskey"
            android:label="@string/title_activity_whiskey"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Rum"
            android:label="@string/title_activity_rum"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Gin"
            android:label="@string/title_activity_gin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Add"
            android:label="@string/title_activity_add"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Wine"
            android:label="@string/title_activity_wine"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Home_1"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Brandy_1"
            android:label="@string/title_activity_brandy"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Vodka_1"
            android:label="@string/title_activity_vodka"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Whiskey_1"
            android:label="@string/title_activity_whiskey"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Wine_1"
            android:label="@string/title_activity_wine"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Gin_1"
            android:label="@string/title_activity_gin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Rum_1"
            android:label="@string/title_activity_rum"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Add_1"
            android:label="@string/title_activity_add"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".add_Product"
            android:label="@string/title_activity_add"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Cart_1"
            android:label="@string/title_activity_cart"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Brandy"
            android:label="@string/title_activity_brandy"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".outlet"
            android:label="@string/title_activity_outlet"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>