<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.home.lavia">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MEDIA_CONTENT_CONTROL"
        tools:ignore="ProtectedPermissions" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/lavia_p"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".firstActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Home"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".cartActivity"
            android:label="@string/title_activity_cart"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".vodkaActivity"
            android:label="@string/title_activity_vodka"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".whiskeyActivity"
            android:label="@string/title_activity_whiskey"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".rumActivity"
            android:label="@string/title_activity_rum"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ginActivity"
            android:label="@string/title_activity_gin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".wineActivity"
            android:label="@string/title_activity_wine"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".salesActivity"
            android:label="@string/title_activity_add"
            android:windowSoftInputMode="adjustNothing"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity
            android:name=".Brandy"
            android:label="@string/title_activity_brandy"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".outletActivity"
            android:label="@string/title_activity_outlet"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>